<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mohamedtaha.imagine">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />

    <queries>
        <intent>
            <action android:name="com.google.android.youtube.api.service.START"/>
        </intent>
    </queries>

    <application
        android:name=".hilt.MainApplication"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:launchMode="singleInstance"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="false"
        android:theme="@style/Theme.App.Starting"
        tools:targetApi="n">
        <service
            android:name=".service.GetDataEveryMonthJobService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity android:name=".ui.activities.YoutubeActivity"
            android:theme="@style/FullScreenWindow"/>
        <activity android:name=".FullScreenActivity" />
        <activity
            android:name=".ui.activities.SettingsActivity"
            android:label="@string/settings"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.home.activity.NavigationDrawaberActivity" />
        </activity>
        <activity
            android:name=".ui.activities.ContianerDescriptionElnawawyActivity"
            android:launchMode="singleTop"
            android:theme="@style/FullScreenWindow"/>
        <activity
            android:name=".ui.navigationview.ElarbaoonElnawawyActivity"
            android:theme="@style/FullScreenWindow"
            android:launchMode="singleTop" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".ui.home.activity.NavigationDrawaberActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.SwipePagesActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenWindow" />
        <activity
            android:name=".ui.activities.DetailsSoundActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.splash.SplashActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true">
            <!--            <intent-filter>-->
            <!--                <action android:name="android.intent.action.MAIN" />-->

            <!--                <category android:name="android.intent.category.LAUNCHER" />-->
            <!--            </intent-filter>-->
        </activity>
        <activity
            android:name=".ui.activities.ListSoundReader"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.home.activity.NavigationDrawaberActivity" />
        </activity>

        <receiver android:name=".notification.CancelNotificationMediaPlayer" />
        <receiver android:name=".notification.quran.AlarmReceiver" />
        <receiver android:name=".notification.prayerTimes.AlarmReceiverPrayerTime" />
        <receiver android:name=".notification.prayerTimes.CancelNotificationPrayerTime" />
        <receiver android:name=".notification.CancelNotificationMediaPlayer" />
        <receiver android:name=".notification.morningAzkar.MorningAzkarAlarmReceiver" />
        <receiver android:name=".receiver.GetPrayerTimesEveryDay" />
        <receiver android:name=".receiver.GetAzkarTimesEveryDay" />
        <receiver android:name=".notification.morningAzkar.CancelMorningAzkarNotification" />
        <receiver
            android:name=".receiver.changeTime.MorningAzkarAlarmChangeTimeRecevier"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.TIME_SET" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.changeTime.PrayerTimeEveryDayAlarmChangeTimeRecevier"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.TIME_SET" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.changeTime.ReadAyatAlarmChangeTimeRecevier"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.TIME_SET" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.changeTime.PrayerTimeEveryMonthAlarmChangeTimeRecevier"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.TIME_SET" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.bootDevice.MorningAzkarAlarmBootRecevier"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.bootDevice.ReadAyatAlarmBootRecevier"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.bootDevice.PrayerTimeEveryDayAlarmBootRecevier"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.GetPrayerTimesEveryMonth" />
        <receiver
            android:name=".receiver.bootDevice.PrayerTimeEveryMonthAlarmBootRecevier"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>

        <service
            android:name=".firebaseNotification.MyFirebaseMessagingService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name=".service.MediaPlayerService"
            android:exported="true">
            <intent-filter>

                <!-- <action android:name="android.intent.action.MEDIA_BUTTON" /> -->
                <action android:name="android.media.AUDIO_BECOMING_NOISY" />
                <action android:name="android.media.browse.MediaBrowserService" />
            </intent-filter>
        </service>

        <receiver
            android:name="androidx.media.session.MediaButtonReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
                <action android:name="android.media.AUDIO_BECOMING_NOISY" />
            </intent-filter>
        </receiver>

        <service android:name=".service.ServiceForPlayPrayerTimesNotification">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MEDIA_BUTTON" /> -->
            <!-- </intent-filter> -->
        </service>
    </application>

</manifest>